.archive_button {
  border-radius: 8px;
  background: #fff;
  border: 1px solid #b8b6b4;
  padding: 8px;
  cursor: pointer;
}

.archive_button[data-disabled='true'] {
  border: 1px solid #cdcccb;
  color: #b8b6b4;
  pointer-events: none;
}
