.call_card {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 12px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.call_card:hover {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 12px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(205, 206, 207, 0.3);
  transform: scale(1.02);
  cursor: pointer;
}

.call_card_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.call_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto 0 0;
}

.call_number {
  font-weight: 600;
}

.call_type {
  font-size: 12px;
  text-transform: capitalize;
  color: #b8b6b4;
}

.call_card_date {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #b8b6b4;
  font-size: 10px;
}

.icon_container {
  padding: 15px;
  border-radius: 16px;
  background-color: #e75a7c;
  box-shadow: 0px 8px 20px rgba(205, 206, 207, 0.5);
}

.icon_container[data-type='answered'] {
  padding: 15px;
  border-radius: 16px;
  background-color: #fab3a0;
}

.icon_container[data-type='outbound'] {
  padding: 15px;
  border-radius: 16px;
  background-color: #7accbe;
}
